

/*
*@css兼容性问题
*/


.opacity{
    opacity:0.6;
    filter: alpha(opacity=60);  /*ie8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.shadow{
    text-shadow: 10px 10px 10px #666;
    filter: Shadow(Color=#666666, Direction=135, Strength=5);
    filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}
.box-shadow{
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 5px #666;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
.radius{
    -moz-border-radius:15px; /* Firefox */
    -webkit-border-radius:15px; /* Safari 和 Chrome */
    border-radius:15px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
